.home-book-container {
  background-color: rgb(242, 239, 239);
  padding: 10px;
}

.book-container {
  display: grid;
  grid-gap: 15px;
}

@media (max-width: 900px) {
  .book-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .home-book-container {
    margin-top: 30px;
  }

  .sec-title {
    margin: 20px 0;
  }
}

@media (min-width: 900px) {
  .book-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .book-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
